Jenkins/ubuntu-bionic-18.04-cloudimg-console.log
Jenkins/.vagrant
Nagios/ubuntu-bionic-18.04-cloudimg-console.log
Nagios/.vagrant
Ubuntu.18.04/ubuntu-bionic-18.04-cloudimg-console.log
Ubuntu.18.04/.vagrant
Gitlab/ubuntu-bionic-18.04-cloudimg-console.log
Gitlab/.vagrant
RabbitMQ/ubuntu-bionic-18.04-cloudimg-console.log
RabbitMQ/.vagrant
Docker/ubuntu-bionic-18.04-cloudimg-console.log
Docker/.vagrant
PostgreSQL/ubuntu-bionic-18.04-cloudimg-console.log
PostgreSQL/.vagrant
Kubernetes/ubuntu-bionic-18.04-cloudimg-console.log
Kubernetes/.vagrant
Zabbix/ubuntu-bionic-18.04-cloudimg-console.log
Zabbix/.vagrant
Gitlab
Elasticsearch
Zabbix
Alpine.linux
